<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 상세 페이지</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css">
</head>
<style>
    .layout {
        width: 500px;
        margin: 40px auto 0;
    }
    .layout p {
        border : 1px solid black;
        padding: 20px 5px;
    }
    .layout a {
        border : 2px solid deepskyblue;
    }
</style>
<body>
<div class="layout">
  <h3>제목</h3>
    <p th:text="${board.title}"></p>
  <h3>내용</h3>
    <p th:text="${board.content}"></p>
  <a th:href="@{/board/delete(id=${board.id})}">글 삭제</a>
  <a th:href="@{/board/modify/{id}(id=${board.id})}">글 수정</a>
</div>
</body>
</html>