<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>홈 화면</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css">
</head>
<style>
    .layout {
        width: 500px;
        margin: 40px auto 0;
    }
</style>
<body>
<div class="layout">
    <h2>⭐️홈 화면⭐️</h2>
    <a href="/member/save">회원가입</a><br>
    <a href="/member/login">로그인</a><br>
    <a href="/member">회원 목록</a><br>
    <a href="/board/list">글 목록</a><br>
    <a href="/board/write">글 작성</a><br>
</div>
</body>
</html>